<h3> Question Title:</h3>

<p> <%= @question.title %>

<h3> Question Description: </h3>

<p>  <%= @question.description %> </p>

<h3> Answers: </h3>


<ul>
  <% @question.answers.each do |answer| %>
  <li> <%= answer.answer_description%> </li>
  <% end %>
</ul>

<%= render :partial => '/answers/answer_form', answer: @answer%>


<%= link_to 'Back', root_path %>
